<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-aiassistant" >
	<tr>
		<td><f:translate key="tx_aiassistant_domain_model_message.user_prompt" /></td>
		<td>{message.userPrompt}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_aiassistant_domain_model_message.assistant_answer" /></td>
		<td>{message.assistantAnswer}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_aiassistant_domain_model_message.file_citation" /></td>
		<td>{message.fileCitation}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_aiassistant_domain_model_message.thread" /></td>
		<td>{message.thread}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_aiassistant_domain_model_message.prompt_tokens" /></td>
		<td>{message.promptTokens}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_aiassistant_domain_model_message.completion_tokens" /></td>
		<td>{message.completionTokens}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_aiassistant_domain_model_message.file_id" /></td>
		<td>{message.fileId}</td>
	</tr>
</table>
</html>